* {
    color: white;
    font-family: "Determination";
    box-sizing: border-box;
    scrollbar-width:auto;
    scrollbar-color: white black;
}

body {
    display: flex;
    background-image: url("res/depths.png");
    background-position: center;
    background-attachment: fixed;
    background-repeat: repeat;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-bottom: 2rem;
}

body::before {
    content: "";
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.72);
    z-index: -1;
}

header, .chapter, .settings, footer {
    flex-direction: column;
    align-items: center;
    border: 3px solid white;
    background-color: black;
}

.settings, .chapter {
    max-width: 725px;
    margin: 0;
    padding: 18px;
    scroll-margin-top: 65px;
}

h1, h2, h3, h5, h6, aside {
    text-align: center;
}

aside {
    font-size: clamp(0.8rem, 4vw, 1rem);
}

h2 {
    font-size: clamp(1.3rem, 5vw, 2.5rem);
    margin-top: 5px;
}

h4 {
    font-size: clamp(1rem, 9.5vw, 1.67rem);
    margin: 7.5px 0;
}

nav {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    gap: 0.75rem;
    position: sticky;
    top: 0;
    background-color: black;
    border: 3px solid white;
    justify-content: center;
    column-gap: clamp(1.5rem, 1vw, 6rem);
    width: 100%;
    z-index: 100;
    flex-wrap: wrap;
    overflow: hidden;
    padding: 1rem 0;
}

nav h3 {
    margin: 0;
    padding: 0.5rem;
}

label {
    display: block;
    font-size: clamp(1rem, 6vw, 1.5rem);
}

input {
    vertical-align: middle;
    height: clamp(1rem, 6vw, 2rem);
    width: clamp(1rem, 6vw, 2rem);
    border: 2px solid white;
    appearance: none;
    position: relative;
}

input:checked::after {
    content: "";
    position: absolute;
    width: 75%;
    height: 75%;
    background-color: white;
    /* centering */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

a {
    text-decoration: none;
}

a:hover, a:hover h3, aside, h5, label:hover {
    color: yellow;
    text-decoration: none;
}

label:hover input {
    border-color: yellow;
}

header {
    width: 100%
}

footer {
    display: flex;
    width: 100%;
    position: sticky;
    bottom: 0;
    padding: 16px 0;
}

footer a {
    display: flex;
    flex-direction: row;
    align-items: center;
}

footer img {
    width: 48px;
    height: 48px;
    margin-right: 8px;
    filter: invert(100%);
}

#reset-button {
    display: none;
}

#reset-label {
    text-align: center;
    margin-top: 10px;
}

.hidden {
    display: none;
}

label::after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    background-size: contain;
    width: 32px;
    height:32px;
    background-repeat: no-repeat;
    transform: translateY(6px);
}

label.kris::after {
    background-image: url("https://deltarune.wiki/images/Kris_face_battlemenu.png?cb=g9uj7d&h=thumb.php&f=Kris_face_battlemenu.png");
}

label.ralsei::after {
    background-image: url("https://deltarune.wiki/images/Ralsei_face_battlemenu.png?cb=t0bcnp&h=thumb.php&f=Ralsei_face_battlemenu.png&20220213004550");
}

label.susie::after {
    background-image: url("https://deltarune.wiki/images/Susie_face_battlemenu.png?cb=rbu60a&h=thumb.php&f=Susie_face_battlemenu.png&20220213012129");
}

label.game::after {
    background-image: url("https://deltarune.wiki/images/Kris_overworld_8bit_pose.png?cb=8rdcs9&h=thumb.php&f=Kris_overworld_8bit_pose.png&20260125171612");
}

label.green-room::after {
    background-image: url("https://deltarune.wiki/images/Green_Room_location.png?cb=bu673h&h=thumb.php&f=Green_Room_location.png");
}

label.hometown::after {
    background-image: url("https://deltarune.wiki/images/Dreemurr_residence_location.png?cb=b1g6l9&h=thumb.php&f=Dreemurr_residence_location.png");
}

label.town::after {
    background-image: url("https://deltarune.wiki/images/Castle_Town_location.png?cb=oswrg9&h=thumb.php&f=Castle_Town_location.png");
}

label.cliffs::after {
    background-image: url("https://deltarune.wiki/images/%3F%3F%3F%3F%3F%3F_location_Eye_Puzzle.png?cb=fm5lf9&h=thumb.php&f=%3F%3F%3F%3F%3F%3F_location_Eye_Puzzle.png");
}

label.field::after {
    background-image: url("res/purple_grass.png");
}

label.forest::after {
    background-image: url("res/Man_overworld_tree.png");
}

label.castle::after {
    background-image: url("https://deltarune.wiki/images/Card_Castle_location.png?cb=lcsf4t&h=thumb.php&f=Card_Castle_location.png");
}

label.field2::after {
    background-image: url("https://deltarune.wiki/images/thumb/Cyber_Field_location.png/300px-Cyber_Field_location.png.webp?cb=42iugz&h=thumb.php&f=Cyber_Field_location.png");
}

label.city::after {
    background-image: url("https://deltarune.wiki/images/thumb/Cyber_City_location.png/300px-Cyber_City_location.png.webp?cb=56eezl&h=thumb.php&f=Cyber_City_location.png");
}

label.mansion::after {
    background-image: url("https://deltarune.wiki/images/Queen_face.png?cb=dxd14v&h=thumb.php&f=Queen_face.png");
}

label.tv-world::after {
    background-image: url("res/tv-world.png");
}

label.cold::after {
    background-image: url("https://deltarune.wiki/images/Cold_Place_location.png?cb=azpbw2&h=thumb.php&f=Cold_Place_location.png");
}

label.sanct1::after {
    background-image: url("https://deltarune.wiki/images/Prophecy_screenshot_initial1.png?cb=lwc66i&h=thumb.php&f=Prophecy_screenshot_initial1.png");
}

label.sanct2::after {
    background-image: url("https://deltarune.wiki/images/Prophecy_screenshot_heroes1_2nd_Sanctuary.png?cb=7hrfko&h=thumb.php&f=Prophecy_screenshot_heroes1_2nd_Sanctuary.png");
}

label.sanct3::after {
    background-image: url("https://deltarune.wiki/images/Prophecy_screenshot_end.png?cb=mjscbx&h=thumb.php&f=Prophecy_screenshot_end.png");
}

label.garden::after {
    background-image: url("https://deltarune.wiki/images/Garden_location.png?cb=dapead&h=thumb.php&f=Garden_location.png");
}

label.cliffs2::after {
    background-image: url("https://deltarune.wiki/images/Cliffs_location.png?cb=gpx7nc&h=thumb.php&f=Cliffs_location.png");
}

label.flower-castle::after {
    background-image: url("https://deltarune.wiki/images/thumb/Flower_Castle_location_Left_Doors.png/220px-Flower_Castle_location_Left_Doors.png.webp?cb=qn0trx&h=thumb.php&f=Flower_Castle_location_Left_Doors.png");
}

label.castle-top::after {
    background-image: url("https://deltarune.wiki/images/Top_of_Castle_location.png?cb=iqip2z&h=thumb.php&f=Top_of_Castle_location.png");
}

@font-face {
    font-family: "Determination";
    src: url("res/DTM-Mono.woff2") format("woff2");
}

@media (min-width: 653px) and (max-width: 1308px) {
    .settings, .chapter {
        scroll-margin-top: 104px;
    }
}

@media (min-width: 489px) and (max-width: 652px) {
    .settings, .chapter {
        scroll-margin-top: 176px;
    }
}

@media (min-width: 325px) and (max-width: 488px) {
    .settings, .chapter {
        scroll-margin-top: 226px;
    }
}

@media (max-width: 324px) {
    .settings, .chapter {
        scroll-margin-top: 426px;
    }
}

/* scrollbar */
::-webkit-scrollbar {
    width:12px;
}
::-webkit-scrollbar-track {
    background-color: black;
}
::-webkit-scrollbar-button {
    color: white;
}
::-webkit-scrollbar-thumb {
    border: 1px whitesmoke solid;
}
::-webkit-scrollbar-thumb:hover {
    border-color: yellow;
}